<p><strong>Cryptotrader</strong> allows you to compare in real time many cryptocurrency exchanges rates of the most adopted coins and tokens. 
  Please notice that all values are in US dollars (usd) and since most cryptocurrencies do not have a usd direct trading pair, either USDC or USDT are used to calculate the price.
  <br/>
  If you have any suggestions for this page, <a href="mailto:jescudero.tux@gmail.com">send me an email</a>
</p>
<ul class="w-100">
  <li><strong>COIN/TOKEN:</strong> the icon and symbol of the coin/token</li>
  <li><strong>AVERAGE:</strong> the average value taken from all exchanges prices, not considering the unavailables.</li>
  <li><strong>GAP:</strong> the gap (difference in %) between highest and lowest price.</li>
</ul>
