<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="page-header text-center" app-header></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-left" app-subheader></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div app-table></div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div app-footer class="page-footer"></div>
        </div>
    </div>
</div>